{{#if resume.skills.length}}
  <div class="container skills-container">
    {{> title value="Key Skills"}}

    {{#each resume.skills}}
      <section class="item">
        <h4>{{name}}</h4>
        <ul class="minimal keywords">
          {{#each keywords}}
            <li>
              {{.}}
            </li>
          {{/each}}
        </ul>
      </section>
    {{/each}}
  </div>
{{/if}}
