{{#if resume.skills.length}}
  <div class="container skills-container">
    {{> title value="Key Skills"}}

    {{#each resume.skills}}
      <section class="item">
        <h4>{{name}}</h4>
        <div class="minimal keywords">
          {{#each keywords}}
            {{.}}{{#unless @last}},{{/unless}}
          {{/each}}
        </div>
      </section>
    {{/each}}
  </div>
{{/if}}
