{{#if resume.x-certifications.length}}
<div class="container x-certifications-container">
  {{> title value="Certifications"}}

  {{#each resume.x-certifications}}
    <section class="item">
      {{> section-header name=this.title releaseDate=this.date }}

      {{#if awarder}}
        <h5 class="awarder">{{awarder}}</h5>
      {{/if}}

      {{#if summary}}
        {{marked summary}}
      {{/if}}
    </section>
  {{/each}}
</div>
{{/if}}
